/.vscode
/Alura
/Corretor de gabarito
/curso_em_video
/ex021.mp3
/kivy
/palavras.txt
curso_tkinter/clientes.db
curso_tkinter/tkdoc.py
curso_tkinter/myfirst.py
curso_tkinter/anotação_tkinter.txt
curso_tkinter/teste.py
Corretor simulado laila/database.db
curso_tkinter/tkinter_aprender.py
curso_tkinter/referencia_tkinter.txt
teste2.py
Corretor simulado laila/ui_old.py
Corretor simulado laila/udemy_tkinter_poo2.py
Corretor simulado laila/udemy_tkinter_poo1.py
teste.py
